/* Global Styles */
body {
  box-sizing: border-box;
  background-color: lightgreen;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contactInfo {
  background-image: url('https://i.makeagif.com/media/8-22-2014/GO_DT4.gif');
  color: White; 
  background-size: cover;
  width: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


/* Table Styling */
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}

td {
  border: 1px solid black;
  padding: 5px;
  display: flexbox;
}

.hidden {
  display: none;
}

td button {
  display: block;
  margin: 0 auto;
}

th button {
  width: 50%;
  display: block;
  margin: 3px auto;
}